.logocentrado{
    width: 100%;
    display: grid;
}

nav .cont-logo a{
    margin: auto;
}

.hidde{
    display: none !important;
}

@media (max-width:992px){
    #contenido-collapse{
        display:block;
        width: initial;
    }
    
}