<div id="home" class="container-fluid contenedor-jumbotron animated fadeIn">
  <div class="container">
      <div class="jumbotron">
          <h4>Welcome to</h4>
          <h1 class="display-4">Spotisearch</h1>
          <p class="lead">Busca tus canciones preferidas de spotify. Solo ingresa un artista en la siguiente caja y disfruta!</p>
          <hr class="my-4">
          <div class="input-group mb-3">
              <div class="input-group-prepend">
                  <span class="input-group-text" id="basic-addon1"><i class="fas fa-search"></i></span>
              </div>
              <input type="text" class="form-control" (keyup.enter)="buscarArtista(busquedaArtista.value)" #busquedaArtista placeholder="Busca lo que quieras" aria-label="Username" aria-describedby="basic-addon1">
          </div>
      </div>
  </div>
</div>

<div id="favoritos" class="container-fluid" *ngIf="arrayFavoritos; else noFavoritos">
  <div class="container">
      <h4>Canciones favoritas</h4> 
      <div class="row">
      <div class="col-md-12 col-lg-6" *ngFor="let favorito of arrayFavoritos">
        <a [href]="favorito.url">
            <div class="card">
              <div class="card-contenedor-img">
                  <img class="img-thumbnail" [src]="favorito.imgAlbum" alt="Card image cap">
              </div>
              <div class="card-body">
                  <h5 class="card-title">{{ favorito.nombre}}</h5>
                  <p class="card-text">Artista: {{ favorito.artista}}</p>
                  <p class="card-text">Album: {{ favorito.album}}</p>
              </div>
          </div>
        </a>
      </div>

      </div>
  </div>
</div>

<div class="container">
<ng-template #noFavoritos>
    <div class="container">
    <h3>No hay favoritos</h3>
    </div>
</ng-template>
</div>
