<app-navbar></app-navbar>
<div id="home" class="container-fluid contenedor-jumbotron animated fadeIn">
  <div class="container">
      <div class="jumbotron">
          <h4>Welcome to</h4>
          <h1 class="display-4">Spotisearch</h1>
          <p class="lead">Busca tus canciones preferidas de spotify. Solo ingresa un artista en la siguiente caja y disfruta!</p>
          <hr class="my-4">
          <app-search></app-search>
      </div>
  </div>
</div>

<app-favoritos [favoritos]="arrayFavoritos"></app-favoritos>